
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 139.8rem;
}.group-1-b7o {
  width: 100%;
  height: 77.7938rem;
  position: relative;
}
.group-1-b7o .rectangle-2-WkZ {
  width: 139.4765rem;
  height: 9.3105rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f3f2ee;
}
.group-1-b7o .rectangle-1-rZX {
  width: 139.5348rem;
  height: 71.199rem;
  position: absolute;
  left: 0.2652rem;
  top: 6.5948rem;
  background-color: #ffffff;
}
.group-1-b7o .image-6-zfj {
  width: 9.048rem;
  height: 9.039rem;
  position: absolute;
  left: 120.5642rem;
  top: 61.2242rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('assets3/image-6-bg-6Lh.png');
}
.group-1-b7o .it111-blog-Wty {
  width: 8.1rem;
  height: 1.9rem;
  position: absolute;
  left: 22.0157rem;
  top: 2.347rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #bc0a0a;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1-b7o .flex-page-2cR {
  width: 8.1rem;
  height: 1.9rem;
  position: absolute;
  left: 34.334rem;
  top: 2.347rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #110505;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1-b7o .home-page-Yqf {
  width: 9rem;
  height: 1.9rem;
  position: absolute;
  left: 9.8064rem;
  top: 2.347rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1-b7o .rectangle-3-ssw {
  width: 139.5635rem;
  height: 5.6743rem;
  position: absolute;
  left: 0;
  top: 70.8046rem;
  background-color: #f3f2ee;
}
.group-1-b7o .html-and-css-2F3 {
  width: 12.3rem;
  height: 2.5rem;
  position: absolute;
  left: 69.3016rem;
  top: 18.9327rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #110505;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1-b7o .outputs-Yz5 {
  width: 16rem;
  height: 4.9rem;
  position: absolute;
  left: 68.9399rem;
  top: 14.1216rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #c32726;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1-b7o .we-do-an-website-creation-that-display-the-list-of-our-likes-and-dislike-but-first-we-do-just-blue-print-or-what-we-called-the-wireframe-do-an-case-analasis-on-famous-cybercrime-cases-and-ect-we-do-an-overview-of-some-of-topics-including-computing-professional-and-careers-in-computing-information-processing-cycle-computer-system-systems-basic-concepts-of-computer-security-and-last-is-learning-about-html-and-css-5z1 {
  width: 57.9rem;
  height: 20.2rem;
  position: absolute;
  left: 68.9399rem;
  top: 23.7235rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.44;
  color: #110505;
  font-family: Istok Web, 'Source Sans Pro';
}
.group-1-b7o .image-11-qbo {
  width: 17.6769rem;
  height: 5.1304rem;
  position: absolute;
  left: 117.3722rem;
  top: 66.0168rem;
  object-fit: cover;
  vertical-align: top;
}
.group-1-b7o .go-back-apH {
  width: 6.7rem;
  height: 3.2rem;
  position: absolute;
  left: 122.7416rem;
  top: 67.1347rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Jomhuria, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1-b7o .read-more-Hih {
  width: 8.9rem;
  height: 3.2rem;
  position: absolute;
  left: 48.8393rem;
  top: 65.4488rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Jomhuria, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1-b7o .image-12-D6Z {
  width: 37.9885rem;
  height: 24.8771rem;
  position: relative;
  left: 66.5773rem;
  top: 43.7049rem;
  background-size: 183.094% 146.131%;
  background-position: -7.034rem -9.3004rem;
  background-image: url('assets3/image-12.png');
}
.group-1-b7o .image-13-7Sq {
  width: 535.815px;
  height: 367.472px;;
  position: relative;
  left: 9.8064rem;
  top: 0px;
  bottom: 2000px;
  background-size: 185.899% 105.048%;
  background-position: -23.0129rem 0;
  background-image: url('assets3/image-13-wx5.png');
}
.group-1-b7o .image-4-2Ju {
  width: 1.2975rem;
  height: 1.2211rem;
  position: absolute;
  left: 57.4868rem;
  top: 73.5684rem;
  object-fit: cover;
  vertical-align: top;
}
.group-1-b7o .sam-antony-rey-m1b {
  width: 14.7rem;
  height: 1.5rem;
  position: absolute;
  left: 58.9727rem;
  top: 73.3271rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
