
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 139.217rem;
}.group-1-ATb {
  width: 100%;
  height: 80.2118rem;
  position: relative;
}
.group-1-ATb .rectangle-2-hyK {
  width: 139.1747rem;
  height: 80.2118rem;
  position: absolute;
  left: 0.0428rem;
  top: 0;
  background-color: #faf9f8;
}
.group-1-ATb .rectangle-1-FV3 {
  width: 43.339rem;
  height: 33.7807rem;
  position: absolute;
  left: 0.4779rem;
  top: 36.2456rem;
  background-color: #e8e5df;
}
.group-1-ATb .rectangle-6-yvq {
  width: 72.8954rem;
  height: 15.0844rem;
  position: absolute;
  left: 66.322rem;
  top: 0.5854rem;
  background-color: #e8e5df;
}
.group-1-ATb .rectangle-5-Kjo {
  width: 139.2174rem;
  height: 6.0352rem;
  position: absolute;
  left: 0;
  top: 72.4884rem;
  background-color: #e8e5df;
}
.group-1-ATb .image-6-5DB {
  width: 8.8019rem;
  height: 8.9626rem;
  position: absolute;
  left: 121.9318rem;
  top: 61.0636rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('assets5/image-6-bg-8wB.png');
}
.group-1-ATb .it111-blog-ntH {
  width: 8.1rem;
  height: 1.9rem;
  position: absolute;
  left: 19.4905rem;
  top: 4.432rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #110505;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1-ATb .flex-page-6e5 {
  width: 8.1rem;
  height: 1.9rem;
  position: absolute;
  left: 31.4738rem;
  top: 4.432rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #cb0b0b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1-ATb .home-page-DCu {
  width: 9rem;
  height: 1.9rem;
  position: absolute;
  left: 7.6132rem;
  top: 4.432rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1-ATb .image-4-L2d {
  width: 1.2622rem;
  height: 1.2107rem;
  position: absolute;
  left: 60.5698rem;
  top: 75.5839rem;
  object-fit: cover;
  vertical-align: top;
}
.group-1-ATb .image-2-SrM {
  width: 32.7348rem;
  height: 34.2806rem;
  position: absolute;
  left: 14.8998rem;
  top: 32.2243rem;
  object-fit: cover;
  vertical-align: top;
}
.group-1-ATb .image-3-Bow {
  width: 33.5702rem;
  height: 40.9667rem;
  position: absolute;
  left: 95.2036rem;
  top: 3.9721rem;
  object-fit: cover;
  vertical-align: top;
}
.group-1-ATb .he-is-an-grade-conscious-person-a-academic-achiever-that-it-is-inclined-to-to-a-leadership-he-is-an-salutatorian-on-hes-grade-6-batch-and-consistent-top-5-on-high-school-up-to-senior-high-in-his-elementary-years-he-was-commended-as-an-outstanding-senior-patrol-KfF {
  width: 43.1rem;
  height: 17.3rem;
  position: absolute;
  left: 48.8382rem;
  top: 30.1663rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.44;
  color: #110505;
  font-family: Istok Web, 'Source Sans Pro';
}
.group-1-ATb .leader-spl-of-district-7-as-a-boy-scout-he-is-an-grade-conscious-person-a-academic-achiever-that-it-is-inclined-to-to-a-leadership-he-is-an-salutatorian-on-hes-grade-6-batch-and-consistent-top-5-on-high-school-up-to-senior-high-in-his-elementary-years-he-was-commended-as-an-outstanding-senior-patrol-leader-spl-of-district-7-as-a-boy-scout-in-sams-perspective-academic-success-is-more-than-a-goalits-a-standard-as-the-top-student-sam-not-only-excels-in-every-subject-but-also-leads-with-a-commitment-to-excellence-setting-a-benchmark-for-peers-their-name-resonates-as-a-symbol-of-both-achievement-and-leadership-within-the-school-community-gu7 {
  width: 86.2rem;
  height: 23.1rem;
  position: absolute;
  left: 48.8382rem;
  top: 47.3646rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.44;
  color: #110505;
  font-family: Istok Web, 'Source Sans Pro';
}
.group-1-ATb .he-joined-a-certain-pageant-that-advocacy-drugs-awareness-towards-youth-the-bkd-barkada-kontra-droga-he-win-the-crown-and-become-the-mr-bkd-2023-in-sams-world-the-dazzling-glow-of-victory-in-that-prestigious-pageant-casts-a-radiant-light-on-a-journey-marked-by-dedication-and-grace-the-crown-adorning-sams-head-is-not-just-a-symbol-its-a-testament-to-the-tireless-pursuit-of-excellence-each-step-on-the-stage-a-choreography-of-elegance-and-poise-with-the-title-in-hand-sam-stands-as-a-living-embodiment-of-beauty-and-achievement-leaving-an-enduring-legacy-that-sparkles-in-the-spotlight-of-triumph-in-the-realm-of-pageantry-sams-name-echoes-with-the-resonance-of-a-champion-a-symbol-of-unparalleled-success-and-undeniable-grace-vgy {
  width: 84.7rem;
  height: 21.9rem;
  position: absolute;
  left: 9.8864rem;
  top: 8.7074rem;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.44;
  color: #110505;
  font-family: Istok Web, 'Source Sans Pro';
}
.group-1-ATb .sam-antony-rey-kJd {
  width: 14.7rem;
  height: 1.5rem;
  position: absolute;
  left: 62.0153rem;
  top: 75.3446rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.group-1-ATb .rectangle-4-4KK {
  width: 52.2376rem;
  height: 20.0779rem;
  position: absolute;
  left: 56.7342rem;
  top: 44.9388rem;
  object-fit: contain;
  vertical-align: top;
}
.group-1-ATb .image-7-ba9 {
  width: 33.5702rem;
  height: 40.9667rem;
  position: absolute;
  left: 95.2036rem;
  top: 3.9721rem;
  object-fit: cover;
  vertical-align: top;
}
.group-1-ATb .image-8-jgM {
  width: 32.7348rem;
  height: 34.2806rem;
  position: absolute;
  left: 14.8998rem;
  top: 32.2243rem;
  object-fit: cover;
  vertical-align: top;
}
