
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 139.8rem;
}.group-1-DjF {
  width: 100%;
  height: 78.2938rem;
  position: relative;

  .rectangle-2-ybw {
    left: 0;
    top: 1.9083rem;
    background-color: #faf9f8;
    width: 139.8rem;
    height: 17.2782rem;
    position: absolute;
  }
  .image-5-exy {
    width: 6.7716rem;
    height: 7.0284rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 74.5964rem;
    top: 14.5497rem;
    background-image: url('REPLACE_IMAGE:982c883e632cac44081b0fd4912a1f8662f1de8a');
  }
  .rectangle-1-DHK {
    position: absolute;
    left: 0;
    top: 18.552rem;
    background-color: #e8e5df;
    width: 139.8rem;
    height: 59.7417rem;
  }
  .image-6-k2M {
    width: 9.0652rem;
    height: 8.8832rem;
    top: 61.3084rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('REPLACE_IMAGE:982c883e632cac44081b0fd4912a1f8662f1de8a');
    position: absolute;
    left: 121.9973rem;
    background-size: 100% 100%;
  }
  .hey-there-im-sam-anthony-rey-54d {
    letter-spacing: 0.0105rem;
    height: 14rem;
    position: absolute;
    line-height: 1;
    font-size: 7rem;
    font-weight: 400;
    color: #3b3b3b;
    font-family: JejuMyeongjo, 'Source Sans Pro';
    width: 51.5rem;
    left: 6.3347rem;
    top: 19.5282rem;
  }
  .about-me-gq7 {
    width: 10.7rem;
    position: absolute;
    left: 9.7205rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #e60c0c;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.5rem;
    top: 39.1493rem;
    font-size: 2rem;
  }
  .image-4-MgM {
    object-fit: cover;
    vertical-align: top;
    width: 1.3rem;
    height: 1.2rem;
    position: absolute;
    left: 58.8rem;
    top: 75.7rem;
  }
  .image-2-5MT {
    width: 34.95rem;
    height: 47.1491rem;
    position: absolute;
    left: 66.1866rem;
    top: 23.0424rem;
    object-fit: cover;
    vertical-align: top;
  }
  .insta-icon-DCm {
    height: 3.319rem;
    position: absolute;
    left: 118.5023rem;
    top: 2.4452rem;
    object-fit: cover;
    vertical-align: top;
    width: 3.7134rem;
  }
  .youtube-icon-8qX {
    width: 3.7134rem;
    height: 3.2214rem;
    position: absolute;
    left: 124.1817rem;
    top: 2.4452rem;
    object-fit: cover;
    vertical-align: top;
  }
  .image-3-FQM {
    position: absolute;
    left: 103.5394rem;
    top: 50.961rem;
    object-fit: cover;
    vertical-align: top;
    width: 21.0792rem;
    height: 17.5711rem;
  }
  .rectangle-3-z73 {
    left: 8.3rem;
    top: 68.8737rem;
    background-color: #e60c0c;
    width: 22.0622rem;
    height: 3.8071rem;
    position: absolute;
  }
  .get-in-touch-more-JdX {
    line-height: 1;
    width: 15.4rem;
    position: absolute;
    top: 69.2154rem;
    font-size: 3.2rem;
    font-weight: 400;
    text-decoration-line: underline;
    color: #faf9f8;
    font-family: Jomhuria, 'Source Sans Pro';
    height: 3.2rem;
    left: 11.9048rem;
    white-space: nowrap;
  }
  .a-very-enthusiastic-competitive-skilled-and-godly-self-centered-person-currently-an-18-years-of-age-no-state-of-relationship-since-the-day-he-born-he-just-living-a-life-to-its-fullest-no-terms-and-condition-currently-studying-at-bukidnon-state-university-taking-up-the-course-of-bachelor-of-science-and-information-technology-uNR {
    width: 52.5rem;
    left: 9.6rem;
    font-size: 2rem;
    line-height: 1.44;
    color: #110505;
    height: 17.3rem;
    position: absolute;
    top: 44.4rem;
    font-weight: 400;
    font-family: Istok Web, 'Source Sans Pro';
  }
  .sam-antony-rey-DnR {
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    width: 14.7rem;
    position: absolute;
    left: 60.2888rem;
    top: 75.4629rem;
    font-size: 1.2rem;
    white-space: nowrap;
    height: 1.5rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .ellipse-1-jEy {
    vertical-align: top;
    width: 3.8227rem;
    height: 3.0261rem;
    position: absolute;
    left: 112.7137rem;
    top: 2.5428rem;
    object-fit: contain;
  }
  .rectangle-4-Fz1 {
    height: 18.3162rem;
    position: absolute;
    left: 8.3rem;
    top: 44.4rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: rgba(213, 208, 208, 0.5);
    opacity: 0.5;
    width: 54.7895rem;
  }
  .f-Yy7 {
    width: 1.3rem;
    line-height: 1.2125;
    color: #faf9f8;
    white-space: nowrap;
    font-size: 3.2rem;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
    height: 3.9rem;
    position: absolute;
    left: 114.1336rem;
    top: 2.738rem;
  }
  .y-4wT {
    height: 7.1rem;
    position: absolute;
    top: 0.2rem;
    font-size: 5.8rem;
    line-height: 1.2125;
    color: #000000;
    width: 3.4rem;
    left: 124.1817rem;
    font-weight: 100;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .o-vyf {
    position: absolute;
    font-size: 5.8rem;
    color: #000000;
    height: 7.1rem;
    left: 118.6931rem;
    top: 0;
    font-weight: 100;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 3.4rem;
  }
  .rectangle-5-3YV {
    top: 0;
    background-color: #faf9f8;
    width: 139.8rem;
    height: 1.9083rem;
    position: absolute;
    left: 0;
  }
  .it111-blog-P6Z {
    width: 8.1rem;
    font-size: 1.5rem;
    color: #110505;
    white-space: nowrap;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    height: 1.9rem;
    position: absolute;
    left: 19.4606rem;
    top: 4.4224rem;
    font-weight: 700;
  }
  .flex-page-5EH {
    width: 8.1rem;
    top: 4.4224rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.9rem;
    position: absolute;
    left: 31.4439rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
  }
  .home-page-neV {
    color: #cb0b0b;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 9rem;
    height: 1.9rem;
    position: absolute;
    font-weight: 700;
    line-height: 1.2125;
    left: 7.5833rem;
    top: 4.4224rem;
    font-size: 1.5rem;
  }
}
